body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

body h1, body h2 {
    color: hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;
    max-width: 329px;
}

body p, body button, body input {
    color: hsl(192, 100%, 9%);
    font-family: 'Open Sans', sans-serif;
    max-width: 329px;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 23px 0 23px;
    max-width: 375px;
}

.header__Top {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__Top--Logo {
    width: 90px;
}

.header__Top--Btn {
    background: none;
    border: none;
    border-radius: 20px;
    color: hsl(322, 100%, 66%);
    font-size: 11px;
    font-weight: 700;
    opacity: 0.6;
    outline: hsl(322, 100%, 66%) 1px solid;
    padding: 4px 15px 4px 15px;
    text-transform: capitalize; 
}

.header__Top--Btn:hover {
    cursor: pointer;
    outline: hsl(322, 100%, 66%, 0.5) 1px solid;
}

.header__Main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px; 
}

.header__Main--Header {
    font-size: 26px;
    line-height: 1.4;
    text-align: center;
}

.header__Main--Paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.7; 
    text-align: center;
}

.header__Main--Btn {
    background: hsl(322, 100%, 66%);
    border: none;
    border-radius: 22px;
    color: white;
    font-weight: 700;
    font-size: 12px;
    margin-top: 40px;
    padding: 12px 30px;
    width: 200px;
}

.header__Main--Btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* Main */
.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 375px;
}

/* Section of statistics */
.statistics {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.statistics__Mockup {
    margin: 120px 0 100px 0;
    width: 300px;
}

/* Single statistic */
.statistics__Single {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.statistics__Single--Img {
    align-self: flex-start;
    width: 30px;
}

.statistics__Single--Header {
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0 0 0;
}

.statistics__Single--Paragraph { 
    font-weight: 600;
    font-size: 15px;
    opacity: 0.6;
}

/* Section of description */
.introduction {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.introduction__Single {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 23px 0 23px;
}

.introduction__SingleContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first, .third {
    background-color: hsl(207, 100%, 98%);
}

.first__Top, .third__Top, .third__Bottom {
    height: 100px;
    max-width: 375px;
    width: 100%; 
}

/* Images of wavy background */
.first__Top {
    background-image: url("images/bg-section-top-mobile-1.svg");    
}

.third__Top {
    background-image: url("images/bg-section-top-mobile-2.svg");
}

.third__Bottom {
    background-image: url("images/bg-section-bottom-mobile-2.svg");
}

.first__Bottom {
    background-image: url("images/bg-section-bottom-mobile-1.svg");
    height: 50px;
    max-width: 375px;
    width: 100%;
}

.introduction__Single--Img {
    margin-bottom: 70px;
    width: 250px;
}

.introduction__Single--Header {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.introduction__Single--Paragraph {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 80px;
    opacity: 0.7;
    text-align: center;
}

/* Section of "Get started for free" */
.getStarted {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
}

.getStarted__Header {
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}

.getStarted__Btn {
    background: hsl(322, 100%, 66%);
    border: none;
    border-radius: 22px;
    color: white;
    font-weight: 700;
    font-size: 13px;
    margin-top: 15px;
    padding: 12px 30px;
    width: 200px;
}

.getStarted__Btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* Footer */
.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 250px;
    max-width: 375px;
}

.footer__TopImg {
    background-image: url("images/bg-footer-top-mobile.svg");
    height: 50px;
    max-width: 375px;
    width: 100%;
}

.footer__Container {
    background-color: hsl(192, 100%, 9%);
    max-width: 375px;
}

/* Section of newsletter */
.newsletter {
    display: flex;
    flex-direction: column;  
    padding-top: 40px;
}

.newsletter__Header {
    color: white;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 23px;
    text-transform: uppercase; 
}

.newsletter__Paragraph {
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    max-width: 329px;
    padding: 0 23px;
}

.newsletter__Form {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 23px;
}

.newsletter__Form--Input {
    border-radius: 5px;
    border: none;
    color: hsl(192, 100%, 9%);
    font-size: 13px;
    margin-top: 20px;
    padding: 11px 0 11px 10px;
    width: 100%;
}

.newsletter__Form--Btn {
    align-self: flex-end; 
    background-color: hsl(322, 100%, 66%);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 15px;
    padding: 15px 30px;
}

.newsletter__Form--Btn:hover {
    background-color: hsl(322, 100%, 76%);
    cursor: pointer;
}

/* Section of contact/socials */
.contact {
    display: flex;
    flex-direction: column;  
    padding: 80px 23px 35px 23px;
}

.contact__Img {
    width: 180px;
}

.contact__Paragraph {
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 40px;
    opacity: 0.8;
}

.data {
    align-items: center;
    display: flex; 
}

.data__Paragraph {
    color: white;
    font-size: 13px;
    opacity: 0.8;
    padding-left: 15px;
}

.social {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 110px;
}

.social__Img {
    width: 25px;
}

.social__Img:hover {
    cursor: pointer;
}

@media only screen and (min-width: 1440px) {

    /* Header */
    .header {
        min-width: 100vw;
        margin-top: 55px;
    }

    .header__Top--Logo {
        margin-left: 80px;
        width: 230px;
    }

    .header__Top--Btn {
        font-size: 16px;
        font-weight: 600;
        margin-right: 80px;
        padding: 8px 25px;
    }

    .header__Main--Header {
        font-size: 45px;
        max-width: 100%;
    }

    .header__Main--Paragraph {
        font-size: 20px;
        font-weight: 600;
        max-width: 620px;
    }

    .header__Main--Btn {
        border-radius: 50px;
        font-size: 20px;
        max-width: 100%;
        padding: 25px 0;
        width: 400px;
    }

    /* Main */
    .main {
        min-width: 100vw;
    }

    .statistics__Mockup {
        width: 100%;
    }

    /* Section of statistics */
    .statistics__Container {
        align-items: center;
        display: flex;
        gap: 300px;
        justify-content: center;
    }

    .statistics__Single--Img {
        width: 50px;
    }

    .statistics__Single--Header {
        font-size: 90px;
    }

    .statistics__Single--Paragraph {
        font-size: 25px;
        font-weight: 400;
        opacity: 0.4; 
    }

    /* Wavy background */
    .first__Top {
        background-image: url("images/bg-section-top-desktop-1.svg");
        background-size: 100% 150px;
        background-repeat: no-repeat;
        height: 150px;
        max-width: 100vw;
        width: 100vw; 
    }

    /* Section of descriptions */
    .introduction__Single {
        align-items: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 150px;
        justify-content: center;
        padding: 0;
        width: 100%; 
    }

    .first, .third {
        align-items: center;
        flex-direction: row-reverse;
    }
    
    .introduction__Single--Img {
        width: 500px;
    }

    .introduction__SingleContainer {
        align-items: flex-start;
    }

    .introduction__Single--Header {
        font-size: 40px;
        text-align: left;
    }

    .introduction__Single--Paragraph {
        font-size: 16px;
        max-width: 525px;
        text-align: left;
    }

    /* Wavy background */
    .first__Bottom {
        background-image: url("images/bg-section-bottom-desktop-1.svg");
        background-size: 100% 150px;
        background-repeat: no-repeat;
        height: 150px;
        max-width: 100vw;
        width: 100vw;
    }

    .third__Top {
        background-image: url("images/bg-section-top-desktop-2.svg");
        background-size: 100% 150px;
        background-repeat: no-repeat;
        height: 150px;
        max-width: 100vw;
        width: 100vw;
    }

    .third__Bottom {
        background-image: url("images/bg-section-bottom-desktop-2.svg");
        background-size: 100% 150px;
        background-repeat: no-repeat; 
        height: 150px;
        max-width: 100vw;
        width: 100vw; 
    }

    /* Section of "Get started for free" */
    .getStarted__Header {
        font-size: 40px;
        max-width: 100%;
        margin-top: 80px;
    }

    .getStarted__Btn {
        border-radius: 50px;
        font-size: 20px;
        max-width: 100%;
        padding: 25px 0;
        width: 400px;
    }

    /* Footer */
    .footer {
        max-width: 100vw;
        margin-top: 200px;
        width: 100vw;
    }

    .footer__TopImg {
        background-image: url("images/bg-footer-top-desktop.svg");
        background-size: 100% 160px;
        background-repeat: no-repeat; 
        height: 160px;
        max-width: 100vw;
        width: 100vw;
    }

    .footer__Container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 100vw;
        width: 100vw;
    }

    /* Section of newsletter */
    .newsletter {
        align-items: flex-start;
        margin-right: 95px;
    }

    .newsletter__Header {
        font-size: 22px;
        margin-top: 40px;
    }

    .newsletter__Paragraph {
        line-height: 1.8;
        max-width: 350px;
        margin: 0;
    }

    .newsletter__Form {
        flex-direction: row;
        gap: 40px;
        margin-top: 20px;
    }

    .newsletter__Form--Input {
        padding: 16px 0 16px 15px;
        width: 250px;
    }

    .newsletter__Form--Btn {
        width: 150px;
    }

    /* Section of contact/socials */
    .contact {
        margin-left: 90px;
    }

    .contact__Img {
        width: 220px;
    }

    .data__Paragraph {
        font-size: 16px;
    }

    .social {
        gap: 25px;
        margin-bottom: 60px;
    }

    .social__Img {
        width: 35px;
    }
}
